fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
python-dotenv
loguru
pydantic
requests
google-auth
msal
pyodbc
pydantic-settings